body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product {
  margin: 30px 80px;
  padding: 10px 90px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product button {
  margin: 0 5px;
  padding: 5px 10px;
}

.total {
  font-size: 1.5rem;
  margin-top: 20px;
}

.navbar {
  background-color: #4ba3f2;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


body {
  margin: 0;
  padding: 0;
  color:white;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app.light {
  background-color: white;
  color: rgb(31, 37, 80);
  min-height: 100vh;
}

.app.dark {
  background-color: #010b47df;
  color: rgb(140, 143, 157);
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
